* {
    font-family: "Space Grotesk";
    font-optical-sizing: auto;
    scroll-behavior: smooth;
    box-sizing: border-box !important;
}

body {
    background: #F6F5F2;
    transition: linear .2s;
}

.bg-body-tertiary {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(4px);
    font-size: 1.2em;
}



.nav-link:hover {
    transform: scale(.9);
    transition: ease-in .2s;
    color: #8102ff !important;
}


.navbar-brand {
    height: 100px !important;
    margin: 0 !important;
    padding: 0% !important;
}

.nav-link {
    margin: 0px 5px !important;
    margin-bottom: 0 !important;
    border-radius: 5px;
}


.btn-purple {
    background-color: #ceeefb;
    color: #6003ff !important;
    border-radius: 10px 0px;
}

.btn-purple:hover {
    transform: scale(.9);
    transition: ease-out .2s;
    background-color: #00b7ff;
    color: #f5f3f7 !important;
}


.navbar-toggler {
    border: none !important;
    border-radius: 10px !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.bi-list {
    font-size: 38px !important;
}

.bi-x-lg {
    font-size: 28px !important;
}

form .bi {
    font-size: 1.7em;
    cursor: pointer;
}


.carousel-inner {
    height: 100% !important;
}

.carousel {
    height: 100vh !important;
}

.carousel-caption,
.sec-div {
    background-color: rgba(105, 182, 230, 0.469);
    color: #1238a7 !important;
    backdrop-filter: blur(3px);
    border-radius: 20px;
}

.carousel-item,
.carousel-item img {
    width: 100% !important;
    height: 100% !important;
}

.bi-arrow-left-circle-fill,
.bi-arrow-right-circle-fill {
    font-size: 2em;
    color: rgb(8, 4, 87);
}

.card {
    width: 18rem;
    min-height: 200px !important;
    max-height: 350px !important;
    border: none;
    perspective: 500px;
    transform-style: preserve-3d;
    overflow: hidden;
    transition: ease-in .2s;
}

.card img {
    height: 50% !important;
    border-radius: 0 !important;
}

.card .btn {
    width: 100%;
    background-color: #18023fe2;
    color: white;
    border: 1px solid #18023fe2;
    box-shadow: none;
}

.card .btn:hover {
    background-color: white;
    color: #18023fe2;
    box-shadow: none;
}

.card:hover {
    transform: scale(1.03);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card img:hover {
    transform: translateZ(20px);
    cursor: pointer;
    transition: ease-in .3s;
}

.i {
    font-style: italic;
}

i {
    font-style: italic !important;
}

@media (max-width: 992px) {
    .nav-link {
        border-bottom: 5px solid rgb(48, 27, 206);
    }

    .navbar-collapse {
        max-height: 70vh !important;
        overflow: auto;
    }

    .first-carousel {
        height: 70vh !important;
    }

    .h-carousel {
        height: 70vh !important;
        margin: 0 !important;
        border-radius: 20px;
        backdrop-filter: blur(3px);
    }

    .first-carousel {
        margin-top: 110px !important;
        height: 65vh !important;
    }

    .w {
        width: 100% !important;
    }

    .product-img-section {
        height: 50vh !important;
        margin-top: 110px;
    }

    .sec-div {
        display: none;
    }

}


.dropdown-menu {
    text-align: center;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: 2px 2px 3px rgb(103, 102, 102);
}


@media (min-width:992px) {
    .dropdown-menu {
        width: 200px;
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: ease-in .1s;
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        transition: ease-in .1s;
        transform: translateY(10px);
    }

    .h-carousel {
        height: 30vh !important;
        margin-top: 0%;
        border-radius: 20px;
        backdrop-filter: blur(3px);
    }

    .about-hero {
        height: 80vh !important;
    }

}

.auto-show {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

.img {
    width: 100%;
    height: 150px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
    margin-left: 1px;
}

.img1 {
    background-image: url(https://images.pexels.com/photos/5088022/pexels-photo-5088022.jpeg);
}

.img2 {
    background-image: url(https://images.pexels.com/photos/6193078/pexels-photo-6193078.jpeg);
}

.img3 {
    background-image: url(https://images.pexels.com/photos/19559799/pexels-photo-19559799.jpeg);
}

.footer {
    background-color: #F0EBE3 !important;
}

.font {
    font-family: serif !important;
    text-align: center;
}


.btn-floating {
    border-radius: 50%;
}

footer .btn {
    margin: 0;
    padding: 0;
}

.margin {
    margin-top: 115px;
}

.dollar {
    background-image: url(../assets/dollar-page-img.png);
}

.staples {
    background-image: url(../assets/staples-page-img.png);
}

.faber {
    background-image: url(../assets/faber-page-img.png);
}

.staedtler {
    background-image: url(https://images.pexels.com/photos/5088009/pexels-photo-5088009.jpeg);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

.pilot {
    background-image: url(https://images.pexels.com/photos/5088021/pexels-photo-5088021.jpeg);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

.pelikan {
    background-image: url(https://images.pexels.com/photos/6969322/pexels-photo-6969322.jpeg);
}

.product-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-hero {
    background-image: url(https://images.pexels.com/photos/7956607/pexels-photo-7956607.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white !important;
}

.product-img-section {
    height: 100vh;
}

i {
    font-style: normal !important;
}

.responsive-text {
    font-size: clamp(14px, 2vw, 22px);
}